#container {
    display: flex;
    height: 100vh;
}

.left-pane {
    width: 66.67%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-pane {
    width: 33.33%;
    overflow: hidden;
    position: relative; /* Changed to relative */
}

.image-container {
    display: flex;
    flex-direction: column;
    animation: scroll 10s linear infinite;
    height: 100vh; /* This height can adjust based on your content */
}

.image-container img {
    width: 100%;
    object-fit: cover; /* This makes your images cover the area nicely */
}

@keyframes scroll {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }